<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title> AR sim results Selection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

    <div class="home">
        <ul>
            <li><a href="{{ url_for('chat') }}"><img src="{{ url_for('static', filename='images/Home_icon.png') }}" width="100" height="100" alt="Home"></a></li>
        </ul>
    </div>

    <form method="POST" class="ar_sim_settings">
        {% for car in ar_sim_selections %}
            <label class="box">
                <input type="checkbox" name="options" value="{{ car.id }}">
                <span class="ar_sim_settings_car_name">{{ car.car_name }}</span>
                <span class="ar_sim_settings_drag_co">{{ car.drag_co }}</span>
                <span class="ar_sim_settings_lift_co">{{ car.lift_co }}</span>
            </label>
        {% endfor %}
        <button type="submit">Submit Selection</button>
    </form>

    <script>
        const checkboxes = document.querySelectorAll('input[name="options"]');
        checkboxes.forEach(cb => {
            cb.addEventListener('change', () => {
                const checked = document.querySelectorAll('input[name="options"]:checked');
                if (checked.length > 3) {
                    cb.checked = false;
                    alert("Please select 3 cars or less.");
                }
            });
        });
    </script>



        




</body>
</html>