<!DOCTYPE html>
<html>

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
<head>
  <meta charset="UTF-8">
  <title> AR sim Results </title>
  <script src="https://aframe.io/releases/1.4.1/aframe.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/AR-js-org/AR.js/aframe/build/aframe-ar.js"></script>
</head>

<body>

<a-scene
    vr-mode-ui="enabled: false"
    embedded
    arjs="trackingMethod: best; sourceType: webcam; debugUIEnabled: false;"
  >

  {% for i, x in enumerate(urls) %}
  <a-assets>
    <a-asset-item id="car{{ i }}" src="{{ x }}"></a-asset-item>
  </a-assets>

  
  <a-marker type="pattern" url="markers/marker{{ i }}.patt">
    <a-gltf-model
        src="#car{{ i }}"
        scale="1 1 1"
        position="0 0 0"
        rotation="0 0 0"
    ></a-gltf-model>
  </a-marker>
{% endfor %}



</body>

</html>