<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
    <head>
        <title> Bolt Chatbot: </title>
        <h2> Welcome to the Chatbot.</h2>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <div class="chatbot_body">
            <div class = chatbot_output>
                {% for i in chatbot_convo %}
                <p class="chatbot_query"> {{ i[1] }}</p>
                <p class="chatbot_answer"> {{ i[2] }} </p>
                {% endfor %}
            </div>
            <div class="chatbot_input_box">
                <form method="POST" class="chatbot_input_form">
                    <input type="text" name="chatbot_query" placeholder="Ask any question..." required>
                    <button type="submit" style="background-color: black; color: wheat; outline: wheat;">Send</button>
                </form>
            </div>
        </div>

        <nav class="bottom-menu">
            <ul>
                <li><a href="{{ url_for('chat') }}"><img src="{{ url_for('static', filename='images/Message_Icon.png') }}" alt="Chat"></a></li>
                <li><a href="{{ url_for('todo') }}"><img src="{{ url_for('static', filename='images/to_do_list_icon.png') }}" alt="Tasks"></a></li>
                <li><a href="{{ url_for('chatbot') }}"><img src="{{ url_for('static', filename='images/Bolt_AI_Icon.png') }}" alt="Chatbot"></a></li>
                <li><a href="{{ url_for('sim') }}"><img src="{{ url_for('static', filename='images/Sim_icon.png') }}" alt="Sim"></a></li>
                <li><a href="{{ url_for('vr') }}"><img src="{{ url_for('static', filename='images/VR_icon.png') }}" alt="VR City"></a></li>
            </ul>
        </nav>
        
    </body>