<!DOCTYPE html>
<html>
<body style="font-family: Arial, sans-serif;">
  <p>Dear {{name}},</p>

  <p>


Thank you for taking the time to consider this request. I am writing on behalf of Bolt, a student STEM racing team; a competition which involves designing, testing, and manufacturing a car that is raced at regional, national and international levels. It also involves creating detailed reports about our engineering and enterprise, creating an exhibition-style booth to show our brand + sponsors (otherwise known as a pit display), and presenting a speech to judges about our team.<br>
<br>
Previously, our team has won 2 regional competitions (1 in the entry class and 1 in the development class) and this year we are progressing to the UK national competitions, held in march 2026.
<br><br>
We believe a partnership with {{name}} would be mutually beneficial. As a sponsor, your company would gain visibility among students, educators, and industry professionals through branding on our car, team kits, and promotional materials, as well as recognition across our digital platforms and competition events. 
<br>
We are seeking sponsorship in the form of financial support. Your support would directly help us cover costs such as:<br>
<br>
Manufacturing (est. £100)<br>
Competition entry (est. £250)<br>
Virtual + physical testing (est. £300)<br>
Pit display materials (est. £170)<br>
Travel and stay (est. £500)<br>
<br><br>
You are more than welcome to request further information about our team, our goals, and our sponsorship options. Please feel free to contact our team using the details below.
<br><br>
Thank you again for your time and consideration.<br>
Kind regards,<br>
Tharun Sakthivel<br>
Finance manager<br>
Bolt – A nationals qualifying team<br>
St Olaves grammar school, BR6 9SH<br>
Bolt.stem.racing@gmail.com<br>
(+44) 7442 639474<br>
  </p>

  <p>
     <a href="www.bolt-stem.co.uk">Our website</a>
  </p>

  
</body>
</html>
